/* No matter where you import css file, as long as it's a general CSS file, React will build it all into
one big CSS file so that no matter what, that CSS is always present in your application.
In short: React collect all css files and create a big css file and entire application have access to this big css file.
*/
/* Styling relevent to entire application. */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smooting: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}
